.padding-outer {
    padding: 15px;

    &__div {
        flex-direction: row;
    }
}

.side-img {
    flex: 1;
    background-size: cover;
}

@media screen and (max-width: 600px) {
    .padding-outer {
        padding: 15px 0px;
        &__div {
            flex-direction: column;
        }
    }

    .side-img {
        flex: unset;
        height: 50px;
        background-size: contain;
    }
}
