.padding-outer {
    padding: 15px;

    &__div {
        box-shadow: 0 16px 31px -17px #888886;
        flex-direction: row;
        border-radius: 10px;
    }
}

.side-img {
    flex: 1;
    background-size: cover;
    background-position: center;
    // border-radius: 10px;
    border-top-left-radius: 10px;
    // border-top-right-radius: 1em 3em;
    // border-bottom-right-radius: 4em 0.5em;
    border-bottom-left-radius: 10px;
}

.side-div {
    padding: 0px 15px 15px 15px;
    border-left: 3px solid rgb(154, 148, 148);
    h2 {
        margin-bottom: 0px;
    }
    p {
        margin-top: 0px;
    }
    a {
        text-decoration: none;
        color: #84746a;
        &:visited {
            color: #84746a;
        }
    }
}

@media screen and (max-width: 600px) {
    .padding-outer {
        padding: 15px 0px;
        &__div {
            flex-direction: column;
        }
    }

    .side-img {
        flex: unset;
        height: 50px;
        background-size: contain;
    }

    .side-div {
        border-left: none;
    }
}
